<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hongyuan.hongyuan" >
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.CAMERA" tools:remove="android:maxSdkVersion"/>
    <application>

        <meta-data tools:replace="android:value"
            android:name="com.amap.api.v2.apikey"
            android:value="95db36a1424f20c2bbd752193a984969"/>
    </application>
</manifest>
